# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ide-wal
*.ide-shm
*.ide
*.lock
Lecture 3/Delegates/.vs/Delegates/DesignTimeBuild/.dtbcache
Lecture 3/Delegates/.vs/Delegates/v16/.suo
Lecture 3/Delegates/Delegates/obj/Debug/netcoreapp3.0/Delegates.AssemblyInfo.cs
Lecture 3/Delegates/Delegates/obj/Debug/netcoreapp3.0/Delegates.AssemblyInfoInputs.cache
Lecture 3/Delegates/Delegates/obj/Debug/netcoreapp3.0/Delegates.assets.cache
Lecture 3/Delegates/Delegates/obj/Debug/netcoreapp3.0/Delegates.csprojAssemblyReference.cache
Lecture 3/Delegates/Delegates/obj/Delegates.csproj.nuget.cache
Lecture 3/Delegates/Delegates/obj/Delegates.csproj.nuget.dgspec.json
*.props
*.targets
*.json
Lecture 4/Events/.vs/Events/v16/.suo
*.pdb
*.cache
*.txt
Delegates/Delegates/.vs/Delegates/DesignTimeBuild/.dtbcache
Delegates/Delegates/.vs/Delegates/v16/.suo
Events/Events/.vs/Events/DesignTimeBuild/.dtbcache
Events/Events/.vs/Events/v16/.suo
ParsingAndOutVariables/.vs/ParsingAndOutVariables/v16/.suo
ParsingAndOutVariables/.vs/ParsingAndOutVariables/DesignTimeBuild/.dtbcache
NullOperators/.vs/NullOperators/v16/.suo
SwitchStatementsRedux/.vs/SwitchStatementsRedux/DesignTimeBuild/.dtbcache
NullOperators/.vs/NullOperators/DesignTimeBuild/.dtbcache
Async/.vs/Async/DesignTimeBuild/.dtbcache
